<nav class="navbar navbar-light bg-dark" style="margin-left: 10px; opacity: 0.9; border-radius: 5px;" >
  <div class="container-fluid">
    <a class="navbar-brand align-items-center "></a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
